<div class="w-full flex flex-col justify-center items-center gap-4">
  <div>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/72bf1beb-b49a-4005-b3cd-0e71d9c0b287/BYuquqzwCB.lottie" background="transparent" speed="1" style="width: 500px; height: 500px" loop autoplay></dotlottie-player>
  </div>
  <div class="w-full flex flex-row justify-evenly gap-10 flex-wrap">
    <div class="w-[350px] h-[490px] border-slate-800 border-[2px] rounded-3xl p-6 md:hover:bg-pink-600 md:hover:cursor-pointer bg-pink-50 flex flex-col justify-start gap-4 group transition-all ease-in-out duration-[300ms]">
      <h3 class="h-1/5 flex flex-row justify-center items-center font-sans text-4xl font-bold text-center text-[#fd4e85] group-hover:text-[#fff]">ATOMIC DESIGN</h3>
      <div class="w-16 h-auto mx-auto group-hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="full" height="auto" viewBox="0 0 512 512"
          ><path fill="currentColor" d="M328.85 156.79a26.69 26.69 0 1 0 18.88 7.81a26.6 26.6 0 0 0-18.88-7.81"></path><path
            fill="currentColor"
            d="M477.44 50.06a.3.3 0 0 1 0-.09a20.4 20.4 0 0 0-15.13-15.3c-29.8-7.27-76.68.48-128.63 21.28c-52.36 21-101.42 52-134.58 85.22A321 321 0 0 0 169.55 175c-22.33-1-42 2.18-58.57 9.41c-57.74 25.41-74.23 90.44-78.62 117.14a25 25 0 0 0 27.19 29h.13l64.32-7.02c.08.82.17 1.57.24 2.26a34.36 34.36 0 0 0 9.9 20.72l31.39 31.41a34.27 34.27 0 0 0 20.71 9.91l2.15.23l-7 64.24v.13A25 25 0 0 0 206 480a25 25 0 0 0 4.15-.34C237 475.34 302 459.05 327.34 401c7.17-16.46 10.34-36.05 9.45-58.34a315 315 0 0 0 33.95-29.55c33.43-33.26 64.53-81.92 85.31-133.52c20.69-51.36 28.48-98.59 21.39-129.53M370.38 224.94a58.77 58.77 0 1 1 0-83.07a58.3 58.3 0 0 1 0 83.07"
          ></path><path
            fill="currentColor"
            d="M161.93 386.44a16 16 0 0 0-11 2.67c-6.39 4.37-12.81 8.69-19.29 12.9c-13.11 8.52-28.79-6.44-21-20l12.15-21a16 16 0 0 0-15.16-24.91A61.25 61.25 0 0 0 72 353.56c-3.66 3.67-14.79 14.81-20.78 57.26A358 358 0 0 0 48 447.59A16 16 0 0 0 64 464h.4a360 360 0 0 0 36.8-3.2c42.47-6 53.61-17.14 57.27-20.8a60.5 60.5 0 0 0 17.39-35.74a16 16 0 0 0-13.93-17.82"></path></svg
        >
      </div>

      <h3 class="font-sans text-2xl font-bold text-slate-900">DER HEILIGE GRAL</h3>

      <p class="font-sans text-xl">&#8230; um Komponenten-Bibliotheken zu erstellen, und wir zeigen Ihnen genau, wie Sie das in der Praxis tun können.</p>
    </div>

    <div class="w-[350px] h-[490px] border-slate-800 border-[2px] rounded-3xl p-6 md:hover:bg-pink-600 md:hover:cursor-pointer bg-pink-50 flex flex-col justify-start gap-4 group transition-all ease-in-out duration-[300ms]">
      <h3 class="h-1/5 flex flex-row justify-center items-center font-sans text-4xl font-bold text-center md:hover:text-white text-[#fd4e85] group-hover:text-[#fff]">PWA, NATIVE ODER HYBRID?</h3>
      <div class="w-16 h-auto mx-auto group-hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="full" height="auto" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M13 3C9.23 3 6.19 5.95 6 9.66l-1.92 2.53c-.24.31 0 .81.42.81H6v3c0 1.11.89 2 2 2h1v3h7v-4.69c2.37-1.12 4-3.51 4-6.31c0-3.86-3.12-7-7-7m4.06 6.57l-1.96.52l1.44 1.45a.9.9 0 0 1 0 1.27a.9.9 0 0 1-1.27 0l-1.46-1.44l-.51 1.96c-.12.49-.62.77-1.09.64a.89.89 0 0 1-.64-1.1l.53-1.97l-1.97.53a.887.887 0 0 1-1.1-.64c-.13-.47.15-.97.64-1.09l1.96-.51l-1.44-1.46a.9.9 0 0 1 1.27-1.27l1.45 1.44l.52-1.96a.88.88 0 0 1 1.07-.64c.5.13.78.62.66 1.11l-.53 1.96l1.96-.53a.91.91 0 0 1 1.11.66a.88.88 0 0 1-.64 1.07"
          ></path></svg
        >
      </div>
      <h3 class="font-sans text-2xl font-bold text-slate-900" style="margin-top:16px">QUAL DER WAHL</h3>

      <p class="has-text-align-left has-small-font-size" style="margin-top:10px;margin-right:var(--wp--preset--spacing--20)">PWA, Flutter, Flock, React Native, &#8230; ? Wir helfen Ihnen bei der Entscheidung.</p>
    </div>

    <div class="w-[350px] h-[490px] border-slate-800 border-[2px] rounded-3xl p-6 md:hover:bg-pink-600 md:hover:cursor-pointer bg-pink-50 flex flex-col justify-start gap-4 group transition-all ease-in-out duration-[300ms]">
      <h3 class="h-1/5 flex flex-row justify-center items-center font-sans text-4xl font-bold text-center md:hover:text-white text-[#fd4e85] group-hover:text-[#fff]">UPDATE</h3>
      <div class="w-16 h-auto mx-auto group-hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="full" height="auto" viewBox="0 0 48 48"
          ><defs
            ><mask id="ipSSuccess0"
              ><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                ><path fill="#fff" stroke="#fff" d="m24 4l5.253 3.832l6.503-.012l1.997 6.188l5.268 3.812L41 24l2.021 6.18l-5.268 3.812l-1.997 6.188l-6.503-.012L24 44l-5.253-3.832l-6.503.012l-1.997-6.188l-5.268-3.812L7 24l-2.021-6.18l5.268-3.812l1.997-6.188l6.503.012z"></path><path stroke="#000" d="m17 24l5 5l10-10"></path></g
              ></mask
            ></defs
          ><path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSSuccess0)"></path></svg
        >
      </div>
      <h3 class="font-sans text-2xl font-bold text-slate-900" style="margin-top:16px">Erfolgreiche Projekte</h3>

      <p style="margin-top:10px;margin-bottom:10px;padding-top:0;padding-bottom:0;line-height:1.5">Mehr als 20 erfolgreiche Projekte in den Branchen Automobil, Energie, und Banking.</p>
    </div>

    <div class="w-[350px] h-[490px] border-slate-800 border-[2px] rounded-3xl p-6 md:hover:bg-pink-600 md:hover:cursor-pointer bg-pink-50 flex flex-col justify-start gap-4 group transition-all ease-in-out duration-[300ms]">
      <h3 class="h-1/5 flex flex-row justify-center items-center font-sans text-4xl font-bold text-center md:hover:text-white text-[#fd4e85] group-hover:text-[#fff]">CONSTELL</h3>
      <div class="w-16 h-auto mx-auto group-hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="full" height="auto" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path d="M21 6H9a3 3 0 0 0-3 3v22a3 3 0 0 0 3 3h30a3 3 0 0 0 3-3V21M24 34v8"></path><path d="m32 6l-4 4l4 4m6-8l4 4l-4 4M14 42h20"></path></g></svg>
      </div>
      <h3 class="font-sans text-2xl font-bold text-slate-900" style="margin-top:16px">Laufende Unterstützung</h3>

      <p style="margin-top:8px;margin-bottom:8px">Wir haben dazu eine Methodik entwickelt, die unsere Entwickler während der Realisierung des Projekts technisch begleitet, um für Sie das bestmögliche Ergebnis zu erziehlen.</p>
    </div>
  </div>
</div>
