<div class="wp-block-group alignwide has-global-padding is-content-justification-left is-layout-constrained wp-container-core-group-is-layout-7 wp-block-group-is-layout-constrained w-[100%] mx-auto flex flex-col justify-center items-center">
  <h2
    class="wp-block-heading alignwide has-text-align-center has-text-color has-link-color has-large-font-size wp-elements-7c5ee367228ebe492c132e1515bf7d4f text-5xl text-center"
    style="border-style:none;border-width:0px;border-radius:0px;color:#fd4e85;margin-right:0;margin-left:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--50)"
  >
    <strong>AUS ALICANTE FÜR DEUSCHLAND</strong>
  </h2>

  <div class="flex flex-col justify-center items-center gap-10 lg:flex-row">
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/12119528-2084-4ae7-aa8d-c5ff1502a50a/1Dm02go9GK.lottie" background="transparent" speed="1" style="width: 400px; height: 400px" loop autoplay></dotlottie-player>
    <div class="w-[500px] flex flex-col justify-center items-center gap-14">
      <h2 class="text-6xl text-slate-800 font-bold font-sans text-center">Kick off meeting in Alicante</h2>
      <button class="p-4 bg-slate-800 text-slate-50 rounded-full border-slate-900 border-[3px] md:hover:bg-pink-600 md:hover:text-2xl text-xl transition-all ease-in-out duration-[800ms] font-sans font-semibold shadow-lg">Set Up a Meeting</button>
    </div>
  </div>

  <h6
    class="wp-block-heading alignwide has-text-align-center has-text-color has-link-color wp-elements-c6ab65d2d4c53ba2cd07d18743c43183 text-center"
    style="border-radius:0px;color:#080874;margin-top:var(--wp--preset--spacing--30);margin-right:0;margin-bottom:var(--wp--preset--spacing--30);margin-left:0;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--60);font-size:clamp(0.984rem, 0.984rem + ((1vw - 0.2rem) * 0.86), 1.5rem);"
  >
    <strong>IT LYNX HAT SEINEN SITZ IM ♥️ VON ALICANTE. WENN SIE MÖGEN, LADEN WIR SIE HERZLICH ZU EINEM KICK OFF MEETING HIERHER EIN, UM GEMEINSAM DIE WICHTIGSTEN DETAILS IHRES PROJEKT-VORHABENS ZU BESPRECHEN</strong>.
  </h6>
</div>
